# Appveyor file
# http://www.appveyor.com/docs/appveyor-yml

#---------------------------------#
#      general configuration      #
#---------------------------------#

branches:
  except:
    - gh-pages


#---------------------------------#
#    environment configuration    #
#---------------------------------#

init:
  - git config --global core.autocrlf true

clone_folder: C:\Users\appveyor\nyagos

environment:
  global:
    dest_dir: bin
    gopath: C:\gopath
    go_shortv: 16
    lua_ver: 5.3.2
    lua_shortv: 53
  matrix:
    - GOARCH: 386
    - GOARCH: amd64


install:
  - set INSTALL_DIR=%APPVEYOR_BUILD_FOLDER%\%DEST_DIR%\%GOARCH%
  - ps: |
      $env:PATH="C:\go" + $env:GO_SHORTV + ";" + $env:PATH
      if ($env:GOARCH -eq "386") {
        $env:PATH="C:\msys64\mingw32\bin;" + $env:PATH
        $script:bit = 32
      } else {
        $env:PATH="C:\msys64\mingw64\bin;" + $env:PATH
        $script:bit = 64
      }
      $targetURL = "http://osdn.jp/frs/g_redir.php?m=liquidtelecom&f=%2Fluabinaries%2F" + $env:LUA_VER + "%2FTools+Executables%2Flua-" + $env:LUA_VER + "_Win" + $script:bit + "_bin.zip"
      $outputPath = $env:APPVEYOR_BUILD_FOLDER + "\lua.zip"
      $webClient = new-object System.Net.WebClient
      [int]$trials = 0
      do {
        try {
          $trials +=1
          $webClient.DownloadFile($targetURL, $outputPath)
          break
        } catch [System.Net.WebException] {
          write-host "Problem downloading $targetURL `tTrial $trials `
                     `n`tException: " $_.Exception.Message
          sleep 3
        }
      }
      while ($trials -lt 5)
  - cd %APPVEYOR_BUILD_FOLDER%
  - 7z x lua.zip -oc:lua -y > nul
  - move %APPVEYOR_BUILD_FOLDER%\lua\lua%LUA_SHORTV%.dll %APPVEYOR_BUILD_FOLDER%
  - md %INSTALL_DIR% > nul 2>&1


#---------------------------------#
#       build configuration       #
#---------------------------------#

build_script:
  - make.cmd get
  - make.cmd
  - make.cmd install %INSTALL_DIR%


#---------------------------------#
#      artifacts configuration    #
#---------------------------------#

artifacts:
  - path: $(DEST_DIR)\$(GOARCH)
    name: nyagos-$(GOARCH)-$(APPVEYOR_BUILD_VERSION)
